<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>eugen@livinglogic.de</string>
	<key>contactName</key>
	<string>Eugen Geisler</string>
	<key>description</key>
	<string>New shiny bundle for ul4.</string>
	<key>name</key>
	<string>ul4</string>
	<key>uuid</key>
	<string>0CC4F892-5E38-414B-973A-1051760A321A</string>
</dict>
</plist>
